.navbar{
    
    background-color:black;
    border-radius: 30px;
    position: fixed;
    top: 2px;
    width: 99.5%;
    align:center;


}
.navbar li{   
    float:left;
    list-style: none;
    padding: 0px 9px;
    
}
    .navbar ul{
    overflow: auto
}
.navbar li a{
    padding: 100px 3px; 
    margin: 20px 20px;
    color: white;
    text-decoration:none;
    font-size: 1.5em;
   
  
}
.navbar li a:hover{
    color: rgb(165, 28, 51);
}
.navbar input{
    border: 2px solid black
    border-radius: 14px;
    padding:3px 17px;
    width: 120px;
}
.bgimg {
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)),url('img/9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 170vh;
    position:relative;
    overflow:hidden;
}
.section{
    padding-top: 200px;
}
.container {
    padding-top: 80px;
    text-align: center;
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;

}

.section h2 {
    margin-top: 60px;
    font-size: 120px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
    
}
address{
    text-align: center;
    font-size: 40px;
    color:black;
}
.section h1{
    text-align: center;
    font-size:90px;
    margin-top: 10px;
    font-family: cursive;
    color:rgb(196, 179, 179);
    line-height: 1em;
}
.container h1 span{
    color:rgb(110, 29, 29)
}
.container p{
    color: white;
    padding:20px;
    padding-left: 30px;
}
footer{
    background-color: black;
    height:5vh;
    font-size:25px;
    padding-left:90px;
    color:aliceblue;
    text-align:left;
    margin-top: 410px;
}
.container h3{

    font-size: 40px;
    text-decoration: none;
}
.container h3 a {
    text-decoration: none;
    color: rgb(21, 4, 120);}

